.main_design {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 650px) {
  h2.title_h2 {
    font-size: 28px !important;
  }

  .box_des {
    margin-bottom: 16px;
  }
}
